* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(21, 26, 34);
  font-family: "Nunito", sans-serif;
  color: rgb(222, 222, 222);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img {
  width: 390px;
}

nav {
  width: 100%;
}

nav ul {
  list-style: none;
  padding: 1em 0;
  margin: 1.5em 0;
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid rgba(255, 250, 204, 0.5);
  border-bottom: 1px solid rgba(255, 250, 204, 0.5);
  font-weight: 500;
}

nav li {
  transition-duration: 300ms;
}

nav li:hover {
  transform: scale(1.1);
}

.nav-link {
  font-size: 1.25rem;
  color: rgb(255, 250, 204);
  text-decoration: none;
  font-weight: 700;
  transition: color 300ms;
}

.active {
  color: rgb(255, 254, 247);
  border-bottom: 3px solid rgb(255, 254, 247);
}

.nav-link:hover {
  color: rgb(255, 254, 247);
  border-bottom: 3px solid rgb(255, 254, 247);
}

.home-section {
  display: flex;
  flex-direction: row;
  font-size: 1.15rem;
  width: 70%;
  margin: 5em auto;
  gap: 10%;
}

.divider {
  width: 30%;
  height: 5px;
  margin-inline: auto;
  background-color: rgb(255, 250, 204);
  border-radius: 1rem;
}

.info {
  padding: 1em 0;
  width: 75%;
}

.info a {
  color: rgb(255, 250, 204);
  font-weight: 700;
  text-decoration: none;
  transition: color 300ms;
}

.info a:hover {
  border-bottom: 3px solid rgb(255, 254, 247);
  color: rgb(255, 254, 247);
}

.home-section img {
  width: 50%;
  border-radius: 0.75em;
}

.home-section h1 {
  margin-top: 0;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.1em;
  word-spacing: 0.15em;
  font-size: 1.75rem;
}

#cage {
  flex-direction: row-reverse;
}

#cage .info {
  text-align: right;
}

footer {
  background-color: rgb(17, 18, 21);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 5.5em;
}

footer p {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
  word-spacing: 0.15rem;
}

footer i {
  font-size: 2rem;
  transition-duration: 350ms;
  color: rgb(222, 222, 222);
}

footer i:hover {
  color: rgb(192, 95, 130);
  transform: scale(1.15);
}

.evento-singolo {
  width: 60%;
  margin: 0 auto 5em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(23, 28, 35);
  border: 1px solid rgba(255, 250, 204, 0.15);
  padding: 2em;
  gap: 2em;
  text-align: center;
}

#fortezza-eventi {
  margin-top: 3em;
}

.evento-singolo h1 {
  font-family: "Oswald", sans-serif;
  margin: 0;
  font-size: 2.5rem;
  letter-spacing: 0.075em;
}

.evento-singolo img {
  width: 65%;
  border-radius: 0.75em;
}

.evento-singolo p {
  font-size: 1.25rem;
  width: 80%;
  border-left: 3px solid rgba(255, 250, 204, 0.5);
  border-right: 3px solid rgba(255, 250, 204, 0.5);
  padding: 0 2em;
}

.evento-singolo ul {
  margin: 0;
  padding: 0 0 0.5em 0;
  font-size: 1.35rem;
  list-style: none;
  width: 65%;
  border-bottom: 3px solid rgba(255, 250, 204, 0.5);
}

.evento-singolo ul li {
  margin-bottom: 0.75em;
}

.contenitore-doc {
  background-color: rgb(23, 28, 35);
  border: 1px solid rgba(255, 250, 204, 0.15);
  width: 55%;
  margin: 1em auto 2em auto;
  padding: 1.5em 0;
}

.documentazione {
  margin-inline: auto;
  text-align: center;
  font-size: 1.25rem;
  width: 85%;
  margin-bottom: 1.5em;
}

.documentazione h2 {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 1.75rem;
  letter-spacing: 0.1em;
  margin: 0 0 0.5em 0;
  font-weight: 700;
}

.documentazione h3 {
  font-size: 1.6rem;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  margin: 0 0 0.5em 0;
}
.documentazione h4 {
  font-family: "Oswald", sans-serif;
  font-size: 1.35rem;
  font-weight: 500;
  margin: 0 0 0.25em 0;
}

.documentazione p {
  margin: 0 0 0.5em 0;
}

.documentazione a {
  color: rgb(255, 250, 204);
  font-weight: 600;
  text-decoration: none;
}

.documentazione a:hover {
  text-decoration: underline;
}

.documentazione img {
  width: 70%;
  margin: 0.75em 0 0.5em 0;
}
